<div class="completeRegister">
    <div class="container">
        <div class="row header">
            <h3 class="text-center">ADD JOB</h3>
        </div>

        <div class="row">
            <form class="row g-4">

                <div class="col-12">
                    <label>Tilte</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter job title">
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                        <!-- <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>

                <div class="col-6">
                    <label>Job Category</label>
                    <div class="input-group">
                        <select class="form-control">
                            <option>Cleaning</option>
                            <option>Office</option>
                            <option>babysitting</option>
                        </select>
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                        <!-- <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>

                <div class="col-6">
                    <label>Job Area</label>
                    <div class="input-group">
                        <select class="form-control">
                            <option>Home</option>
                            <option>Office</option>
                            <option>Outdoor</option>
                        </select>
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                        <!-- <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>
                <div class="col-6">
                    <label>Job Length</label>
                    <div class="input-group">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                        <!-- <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>
                <div class="col-6">
                    <label>Job Price</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter job title">
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                        <!-- <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>

                <div class="col-12">
                    <label>Discription</label>
                    <div class="input-group">
                        <textarea type="text" class="form-control" placeholder="Enter Job Discription"></textarea>
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>
                <div class="col-12">
                    <label>Address</label>
                    <div class="input-group">
                        <textarea type="text" class="form-control" placeholder="Enter address"></textarea>
                        <!-- [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }"> -->
                            <!-- <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                            </div> -->
                    </div>
                </div>

                <!-- <div class="col-12">
                    <label>Upload supporting documents</label>
                    <div class="input-group">
                        <input type="file" class="form-control">
                        [ngClass]="{ 'is-invalid': submitted && formValidation['password'].errors }">
                        <div class="input-group-text right-icon"><i class="bi bi-file-earmark-text text-white"></i></div>
                        <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                          <div *ngIf="formValidation['password'].errors['required']">Password is required</div>
                        </div>
                    </div>
                </div> -->

                <div class="col-12 justify-content-center mx-auto text-center">
                    <button type="submit" class="btn btn-primary px-4 mt-4 ">Submit</button>
                </div>
        </form>
        </div>
    </div>
</div>

