<div class="completeRegister mb-5">
    <div class="container" *ngFor="let item of users">
        <div class="row header">
            <!-- <h3 class="text-center">PROFILE</h3> -->
            <div class="profile-img mx-auto shadow">
                <!-- <img src="../../../assets/img/PngItem_5228805.png"> -->
                <i class="fa fa-user"></i> 
            </div>
            <p class="text-center mt-3"><b>{{item.fullname}}</b></p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{item.email}}" disabled>
                    <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Id Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{item.idNumber}}" disabled>
                    <div class="input-group-text right-icon"><i class="bi bi-person-fill text-white"></i></div>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Phone Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{item.phone}}" disabled>
                    <div class="input-group-text right-icon"><i class="bi bi-phone-fill text-white"></i></div>
                </div>
            </div>
            <div class="col-6">
                <label>User Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="HouseKeeper" disabled>
                    <!-- <div class="input-group-text right-icon"><i class="bi bi-person-fill text-white"></i></div> -->
                </div>
            </div>
            <div class="col-lg-12">
                <label>Address</label>
                <div class="input-group">
                    <textarea type="text" class="form-control" disabled>{{item.address}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="text-center py-3">
                    <p>Number Of Job Completed</p>
                </div>
                <div class="container d-flex justify-content-center padding">
                    <div class="row circle">
                        <div class="col-md-9 col-sm-6">
                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">25</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="text-center py-3">
                    <p>Number Of Ratings</p>

                    <p><span class="numberRate">{{totRatings}}</span> Total Number or ratings</p>
                    <div class="row py-2">
                        <div class="col-md-9 col-sm-6">
                            <div class="progress my-2">
                                <div class="progress-bar bg-success" role="progressbar" [style.width]="ratePg5" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">{{ratePg5}}</div>
                            </div>
                            <div class="progress my-2">
                                <div class="progress-bar bg-info" role="progressbar" [style.width]="ratePg4" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ratePg4}}</div>
                            </div>
                            <div class="progress my-2">
                                <div class="progress-bar bg-secondary" role="progressbar" [style.width]="ratePg3" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ratePg3}}</div>
                            </div>
                            <div class="progress my-2">
                                <div class="progress-bar bg-warning" role="progressbar" [style.width]="ratePg2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ratePg2}}</div>
                            </div>
                            <div class="progress my-2">
                                <div class="progress-bar bg-danger" role="progressbar" [style.width]="ratePg1" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ratePg1}}</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </div> 

    </div>

    <div class="container">
        <div class="justify-content-center">

            <div class="row text-center">
                <h3>Rate User</h3>
            </div>

            <form class="row g-4" [formGroup] = "RateForm" novalidate>
                <div class="col-8">
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" formControlName="rate5"/>
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" formControlName="rate4"/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" formControlName="rate3"/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" formControlName="rate2"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" formControlName="rate1"/>
                        <label for="star1" title="text">1 star</label>
                      </div>
                </div>

                <div class="col-4">
                    <button (click)="AddRate()" class="btn btn-warning">Rate User</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- <ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "large" color = "#ffbe16" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->