
<div class="flex main">
    <section class="flex-content">
        <div>
            <h1 class="tag">QUARTO</h1>
            <p>Cleaning Service</p>
            <h1 class="title big">Best <em>Commercial & Residential</em> Cleaning Service.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a class="btn1">Book a service <i class="fa fa-arrow-right"></i></a>
        </div>
    </section>
</div>
