
    <div class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                
                    <img src="../../../../assets/img/Screenshot 2022-11-24 at 09.09.19.png" class="mx-auto d-block py-5" alt="">
                  <h3 class="mb-3 text-center">LOGIN</h3>
                    <div class="">
                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <form class="row g-4" [formGroup] = "UserLoginForm" novalidate>
                                            <div class="col-12">
                                                <label>Email</label>
                                                <div class="input-group">
                                                    <input type="text" formControlName="email" class="form-control" placeholder="Enter Email"
                                                    [ngClass]="{ 'is-invalid': submitted && formValidation['email'].errors }">
                                                    <div class="input-group-text right-icon"><i class="bi bi-envelope-fill text-white"></i></div>
                                                        <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                                                            <div *ngIf="formValidation['email'].errors['required']">Email is required</div>
                                                            <div *ngIf="formValidation['email'].errors['email']">Email is invalid</div>
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label>Password</label>
                                                <div class="input-group">
                                                    <input formControlName="password" type="password" class="form-control" placeholder="Enter Password"
                                                    [ngClass]="{ 'is-invalid': submitted && formValidation['password'].errors }">
                                                    <div class="input-group-text right-icon"><i class="bi bi-lock-fill text-white"></i></div>
                                                    <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                                                      <div *ngIf="formValidation['password'].errors['required']">Password is required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                                    <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                                                </div>
                                            </div> -->

                                            <!-- <div class="col-sm-6">
                                                <a href="#" class="float-end text-primary">Forgot Password?</a>
                                            </div> -->

                                            <div class="col-12 justify-content-center mx-auto text-center">
                                                <button type="submit" (click)="UserLogin()" class="btn btn-primary px-4 mt-4 ">Submit</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right h-100 text-white text-center pt-5">
                                    <img src="../../../../assets/img/PngItem_5228805.png"  class="img" alt="">
                                    <!-- <i class="bi bi-brush"></i> -->
                                    <!-- <h2 class="fs-1"> <i class="bi bi-brush"></i>Welcome Back!!!</h2> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mb-3 text-center">I don’t have accounts <a [routerLink]="['/register']">Register here </a></p>
                </div>
            </div>
        </div>
    </div>