
<div class="container jobs">
    <div class="row text-center header my-5">
      <p><b>{{paramsCategory}} Jobs</b></p>
    </div>

    <div class="row">
        <div class="col-8 my-5">
            <span class="seemorebtn" [routerLink]="['/addJob']">Add Job</span>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let job of jobs">
        <div class="card shadow">

          <div class="card-header">
            <div class="row">
              <div class="col-6">
                <span class="discription">
                  <img src="../../../assets/img/PngItem_306527.png">
                  Londotani Daniel
              </span>
              </div>
              <div class="col-6">
  
              </div>
            </div>
          </div>
         
          <div class="row card-body">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <span class="title"><b>{{job.title}}</b></span>
                </div>
                <div class="col-6">
                  <span class="text-muted">R{{job.price}}</span>
                </div>
                </div>

              <hr>

              <span class="discription"><i class="bi bi-phone-fill" aria-hidden="true"></i> {{job.discription}}</span><br><hr>
              <span class="discription"><i class="fa fa-map-marker" aria-hidden="true"></i>{{job.address}}</span>
            </div>
          </div><br>

          <div class="card-footer text-muted">
            <div class="row text-center">
              <div class="col-6"> 
                <span class="discription justify-content-end">Posted: {{job.created_at| date:'yyyy-MMM-dd HH:mm'}}</span>
              </div>
              <div class="col-6">
                <span class="seemorebtn">Apply</span>
              </div>
            </div>
          </div>
          
        </div>

        
      </div>
    </div>
  </div>