
<div class="container jobs mb-5">
    <div class="row text-center header my-5">
      <p><b>{{paramsCategoryName}} Jobs</b></p>
    </div>

    <div class="row">
        <div class="col-8 my-5">
            <span class="seemorebtn" [routerLink]="['/addJob']">Add Job</span>
        </div>
    </div>

    <div class="container job-card">
      <div class="col-lg-4 col-md-4 col-sm-12 shadow" *ngFor="let job of jobs">
        <div class="card mx-auto">
          <div class="row">
            <div class="text-muted ml-3 mb-3"><i class="fa fa-user"></i> {{job.fullname}}</div>
            <!-- <div class="header right"><i class="fas fa-ellipsis-h"></i></div> -->
          </div>
            <div class="card-title">
              <p class="heading">{{job.title}}&nbsp;<i class="far fa-compass"></i></p>
            </div>
            
            <p class="text-muted">{{job.discription}}</p>
            <div class="row my-4">
              
            </div>
      
            <div class="mutual"><i class="fas fa-clock"></i>&nbsp;&nbsp;<span>{{job.created_at| date:'yyyy-MMM-dd HH:mm'}}</span></div>
            <div class="row btnsubmit mt-4">
              <div class="col-md-6 col-6">
                
              </div>
              <div class="col-md-6 col-6">
                <!-- <button type="button" class="btn btn-dark btn-lg"><span>Message</span></button> -->
                <button type="button" class="btn btn-primary btn-lg" (click)="BidJob(job.id)"><span>Apply Now</span></button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>