/* You can add global styles to this file, and also import other style files */
:root{
    --main-bg:#46345B;
    --white:#ffffff;
    --gray:#72788B;
  }

  @import "~ngx-spinner/animations/ball-atom.css";